.task{
    height: 40px;
    width: 400px;
    border: black solid 2px;
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
}

.comp-task{
    text-decoration: line-through;
}

.btn{
    height: 20px;
    width: 60px;
    position: absolute;
    right: 3px;
}