* {
  box-sizing: border-box;
}

header {
  background-color: gray;
  padding: 2rem 0;
  text-align: center;
}
header > a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}

.toDoList{
  list-style: none;
}

.list{
  display: flex;
  align-items:center;
  flex-direction: column;
}